<link rel="stylesheet" type="text/css" href="/_Shared/components/nav-bar/css/style.css" />
<script src="/_Shared/components/nav-bar/scripts/script.js"></script>

<nav>
    <ul><center>
        <li><a id="view" href="/view/">View Dashboard</a></li>
        <li><a id="create" href="/search/">Start A Trip</a></li>
        <li><a id="recommendation" href="/recommendation/">Recommended Trips</a></li>
      </center>
    </ul>
    <ul>
    <li class="far-right"><a id="logout" href="/">Logout</a></li>
    </ul>
</nav>
