<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>View Itineraries</title>

        <link rel="stylesheet" type="text/css" href="/_Shared/css/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="/_Shared/css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <script src="/_Shared/scripts/jquery-3.2.1.js"></script>
        <script src="/_Shared/scripts/jquery-ui.js"></script>
        <script src="/_Shared/scripts/js.cookie.js"></script>
        <script src="/_Shared/scripts/utils.js"></script>

        <script src="scripts/model.js"></script>
        <script src="scripts/controller.js"></script>
        <script src="scripts/view.js"></script>

    </head>
    <body>
        <div id="nav_bar"></div>
        <div id="main_wrapper">
            <h1 id="title">Itineraries</h1>
            <ul>
                <li><a href="#complete">Completed</a></li>
                <li><a href="#incomplete">Incomplete</a></li>
            </ul>

            <div id="complete">
            <!-- Completed itineraries -->
            </div>

            <div id="incomplete">
            <!-- Incomplete itineraries -->
            </div>


        </div>
    </body>
</html>
