#outline {
    width: 100%;
    max-width: 90em;
    min-width: 30em;
    margin: 3.5em auto 0 auto;
}


#searchTitle {
    text-align: center;
    vertical-align: middle;
    line-height: 0px;
    color: #267F6E;
    font-family: 'Roboto Slab', serif;

}


.green{
  color:#FFFFFF!important;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  background-color:#00CCA3!important;
  word-spacing: 3px;
}
.light-grey{
  color:#000!important;
  background-color:#f1f1f1!important;
  margin:.5em auto;

}
.round{
  border-radius:4px;
  display: block;
  text-align: center;
  width:35%;



}

.container{
    width:95%;
    padding:0.4em 1px;
    transition: width 500ms;
}


.scrollmenu {
    background-color: #267F6E;
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu .itinerary {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 200px;
    text-decoration: none;
    cursor: pointer;
}

.scrollmenu .itinerary:hover {
    background-color: #00CCA3;
}
