#outline {
    width: 100%;
    max-width: 90em;
    min-width: 30em;
    margin: 3.5em auto 0 auto;
}


#searchTitle {
    text-align: center;
    vertical-align: middle;
    line-height: 0px;
    color: #267F6E;
    font-family: 'Roboto Slab', serif;

}


.bigInfo {
    font-size: 22px;

}

.break{
    margin-bottom: 1em;
    margin-top: 1em;
    border: 0; 
    height: 1px;
    background: #00FFCC;
}


.departure {
    margin-bottom: 1em;
    float: left;
    margin-right: 2em;
    display: inline-block;
}

.return {
    margin-bottom: 1em;
    float: left;
    margin-left: 2em;
    display: inline-block;
}

.accommodation {
    margin: 0 auto;
    clear: left;
}

.row {
    margin: 0.6em;
}

.green{
  color:#e3ede3!important;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  background-color:#1c423b!important;
}

.light-grey{
  color:#000!important;
  background-color:#267f6e!important;
  margin:.5em auto;

}
.round{
  border-radius:4px;
  display: block;
  text-align: center;
  width:35%;
}

.container{
    width:95%;
    padding:0.4em 1px;
    transition: width 500ms;
}

.scrollmenu {
    margin-top: 3em;
    background-color: #267F6E;
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu .itinerary {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 110px;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
}

.scrollmenu .itinerary:hover {
    background-color: #00CCA3;
}
