#wrapper {
    width: 100%;
    max-width: 80em;
    margin: 7.5em auto 0 auto;
}


#description {
    display: inline-block;
    width: 59.5%;
    min-width: 45em;
    vertical-align: middle;
}


#sign_in_up {
    display: inline-block;
    width: 39.5%;
}
