#wrapper {
    width: 100%;
    max-width: 80em;
    margin: 7.5em auto 0 auto;
}


#description {
    display: inline-block;
    width: 59.5%;
    min-width: 45em;
    vertical-align: top;
}


#sign_in_up {
    display: inline-block;
    width: 25em;
}
.form_row {
    display: block;
    position: relative;
    height: 1.75em;
}
.form_row .label {
    position: absolute;
    right: 61%;
}
.form_row input {
    position: absolute;
    left: 40%;
}
.form_row button {
    position: absolute;
    left: 40%;
}
