#main_wrapper {
    display: block;
    width: 40em;
    margin: auto;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #267F6E;
	background: #267F6E;
	font-weight: normal;
	color: #ffffff;
}

button.accordion {
    background-color: #267F6E;
    color: white;
    padding: 15px;
    border: none;
    text-align: left;
    outline: none;
    width: 100%;
    font-size: 20px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #00CCA3;
}

.vote {
    display: inline-block;
    fill: #ffffff;
    margin: 0.5em;
}
.vote.up-vote {
    fill: #0adf1c;
}
.vote.down-vote {
    fill: #c9201c;
}

.recommendBtn {
    vertical-align: super;
}

.bigInfo {
    margin; 0.3em;
    font-size: 1.5em;
}

.row {
    margin: 0.5em;
}

.itinerary {
    display: block;
    padding: 10px 15px;
    margin: 0.3em;
    background-color: #267F6E;
    color: white;
    text-align: center;
    text-decoration: none;
}

.completeItinerary {
    display: block;
    /*padding: 10px 15px;*/
    padding: 0px 15px;
    background-color: #267F6E;
    color: white;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
}

.break{
    margin-bottom: 1em;
    margin-top: 1em;
    border: 0;
    height: 1px;
    background: #00FFCC;
}

.itinerary:hover {
    background-color: #00CCA3;
}

#title {
    text-align: center;
    vertical-align: middle;
    color: #267F6E;
}

.form_row {
    display: block;
    position: relative;
    height: 1.75em;
}
.form_row .label {
    position: absolute;
    right: 61%;
}
.form_row input {
    position: absolute;
    left: 40%;
}
.form_row button {
    position: absolute;
    left: 40%;
}

.msg {
    display: none;
}
