<link rel="stylesheet" type="text/css" href="/_Shared/components/dataLists/css/style.css" />
<script src="/_Shared/components/dataLists/scripts/script.js"></script>

<nav1>
<datalist id = "datalist1">
  <option value="accounting">
  <option value="amusement_park">
  <option value="aquarium">
  <option value="art_gallery">
  <option value="atm">
  <option value="bakery">
  <option value="bank">
  <option value="bar">
  <option value="beauty_salon">
  <option value="bicycle_store">
  <option value="book_store">
  <option value="bowling_alley">
  <option value="bus_station">
  <option value="cafe">
  <option value="campground">
  <option value="car_dealer">
  <option value="car_rental">
  <option value="car_repair">
  <option value="car_wash">
  <option value="casino">
  <option value="cemetery">
  <option value="church">
  <option value="city_hall">
  <option value="clothing_store">
  <option value="convenience_store">
  <option value="courthouse">
  <option value="dentist">
  <option value="department_store">
  <option value="doctor">
  <option value="electrician">
  <option value="electronics_store">
  <option value="embassy">
  <option value="establishment (deprecated)">
  <option value="finance (deprecated)">
  <option value="fire_station">
  <option value="florist">
  <option value="food (deprecated)">
  <option value="funeral_home">
  <option value="furniture_store">
  <option value="gas_station">
  <option value="general_contractor (deprecated)">
  <option value="grocery_or_supermarket (deprecated)">
  <option value="gym">
  <option value="hair_care">
  <option value="hardware_store">
  <option value="health (deprecated)">
  <option value="hindu_temple">
  <option value="home_goods_store">
  <option value="hospital">
  <option value="insurance_agency">
  <option value="jewelry_store">
  <option value="laundry">
  <option value="lawyer">
  <option value="library">
  <option value="liquor_store">
  <option value="local_government_office">
  <option value="locksmith">
  <option value="meal_delivery">
  <option value="meal_takeaway">
  <option value="mosque">
  <option value="movie_rental">
  <option value="movie_theater">
  <option value="moving_company">
  <option value="museum">
  <option value="night_club">
  <option value="painter">
  <option value="park">
  <option value="parking">
  <option value="pet_store">
  <option value="pharmacy">
  <option value="physiotherapist">
  <option value="place_of_worship (deprecated)">
  <option value="plumber">
  <option value="police">
  <option value="post_office">
  <option value="real_estate_agency">
  <option value="restaurant">
  <option value="roofing_contractor">
  <option value="rv_park">
  <option value="school">
  <option value="shoe_store">
  <option value="shopping_mall">
  <option value="spa">
  <option value="stadium">
  <option value="storage">
  <option value="store">
  <option value="subway_station">
  <option value="synagogue">
  <option value="taxi_stand">
  <option value="train_station">
  <option value="transit_station">
  <option value="travel_agency">
  <option value="university">
  <option value="veterinary_care">
  <option value="zoo">
</datalist>

<datalist id = "datalist2">
  <option value="Kuala Lumpur">
  <option value="Hong Kong">
  <option value="Dubai">
  <option value="Istanbul">
  <option value="Rome">
  <option value="Shanghai">
  <option value="Los Angeles">
  <option value="Las Vegas">
  <option value="Miami">
  <option value="Toronto">
  <option value="Barcelona">
  <option value="Dublin">
  <option value="Amsterdam">
  <option value="Moscow">
  <option value="Cairo">
  <option value="Prague">
  <option value="Vienna">
  <option value="Madrid">
  <option value="San Francisco">
  <option value="Vancouver">
  <option value="Budapest">
  <option value="Rio de Janeiro">
  <option value="Berlin">
  <option value="Tokyo">
  <option value="Mexico City">
  <option value="Buenos Aires">
  <option value="St. Petersburg">
  <option value="Seoul">
  <option value="Athens">
  <option value="Jerusalem">
  <option value="Seattle">
  <option value="Delhi">
  <option value="Sydney">
  <option value="Mumbai">
  <option value="Munich">
  <option value="Venice">
  <option value="Florence">
  <option value="Beijing">
  <option value="Cape Town">
  <option value="Washington D.C.">
  <option value="Montreal">
  <option value="Atlanta">
  <option value="Boston">
  <option value="Philadelphia">
  <option value="Chicago">
  <option value="San Diego">
  <option value="Stockholm">
  <option value="Cancun">
  <option value="Warsaw">
  <option value="Sharm el-Sheikh">
  <option value="Dallas">
  <option value="Ho Chi Minh">
  <option value="Milan">
  <option value="Oslo">
  <option value="Libson">
  <option value="Punta Cana">
  <option value="Johannesburg">
  <option value="Antalya">
  <option value="Mecca">
  <option value="Macau">
  <option value="Pattaya">
  <option value="Guangzhou">
  <option value="Kiev">
  <option value="Shenzhen">
  <option value="Bucharest">
  <option value="Taipei">
  <option value="Orlando">
  <option value="Brussels">
  <option value="Chennai">
  <option value="Marrakesh">
  <option value="Phuket">
  <option value="Edirne">
  <option value="Bali">
  <option value="Copenhagen">
  <option value="Sao Paulo">
  <option value="Agra">
  <option value="Varna">
  <option value="Riyadh">
  <option value="Jakarta">
  <option value="Auckland">
  <option value="Honolulu">
  <option value="Edinburgh">
  <option value="Wellington">
  <option value="New Orleans">
  <option value="Petra">
  <option value="Melbourne">
  <option value="Luxor">
  <option value="Ha Noi">
  <option value="Manila">
  <option value="Houston">
  <option value="Phnom Penh">
  <option value="Zurich">
  <option value="Lima">
  <option value="Santiago">
  <option value="Bogota">
</datalist>

<datalist id="datalist3">
  <option value="ATL" label="Atlanta Ga, US">
  <option value="PEK" label="Beijing, CN">
  <option value="LHR" label="London, GB">
  <option value="ORD" label="Chicago Il, US">
  <option value="HND" label="Tokyo, JP">
  <option value="LAX" label="Los Angeles Ca, US">
  <option value="CDG" label="Paris, FR">
  <option value="DFW" label="Dallas/Fort Worth Tx, US">
  <option value="FRA" label="Frankfurt, DE">
  <option value="HKG" label="Hong Kong, HK">
  <option value="DEN" label="Denver Co, US">
  <option value="DXB" label="Dubai, AE">
  <option value="CGK" label="Jakarta, ID">
  <option value="AMS" label="Amsterdam, NL">
  <option value="MAD" label="Madrid, ES">
  <option value="BKK" label="Bangkok, TH">
  <option value="JFK" label="New York Ny, US">
  <option value="SIN" label="Singapore, SG">
  <option value="CAN" label="Guangzhou, CN">
  <option value="LAS" label="Las Vegas Nv, US">
  <option value="PVG" label="Shanghai, CN">
  <option value="SFO" label="San Francisco Ca, US">
  <option value="PHX" label="Phoenix Az, US">
  <option value="IAH" label="Houston Tx, US">
  <option value="CLT" label="Charlotte Nc, US">
  <option value="MIA" label="Miami Fl, US">
  <option value="MUC" label="Munich, DE">
  <option value="KUL" label="Kuala Lumpur, MY">
  <option value="FCO" label="Rome, IT">
  <option value="IST" label="Istanbul, TR">
  <option value="SYD" label="Sydney, AU">
  <option value="MCO" label="Orlando Fl, US">
  <option value="ICN" label="Incheon, KR">
  <option value="DEL" label="New Delhi, IN">
  <option value="BCN" label="Barcelona, ES">
  <option value="LGW" label="London, GB">
  <option value="EWR" label="Newark Nj, US">
  <option value="YYZ" label="Toronto On, CA">
  <option value="SHA" label="Shanghai, CN">
  <option value="MSP" label="Minneapolis Mn, US">
  <option value="SEA" label="Seattle Wa, US">
  <option value="DTW" label="Detroit Mi, US">
  <option value="PHL" label="Philadelphia Pa, US">
  <option value="BOM" label="Mumbai, IN">
  <option value="GRU" label="S├âO Paulo, BR">
  <option value="MNL" label="Manila, PH">
  <option value="CTU" label="Chengdu, CN">
  <option value="BOS" label="Boston Ma, US">
  <option value="SZX" label="Shenzhen, CN">
  <option value="MEL" label="Melbourne, AU">
  <option value="NRT" label="Tokyo, JP">
  <option value="ORY" label="Paris, FR">
  <option value="MEX" label="Mexico City, MX">
  <option value="DME" label="Moscow, RU">
  <option value="AYT" label="Antalya, TR">
  <option value="TPE" label="Taipei, TW">
  <option value="ZRH" label="Zurich, CH">
  <option value="LGA" label="New York Ny, US">
  <option value="FLL" label="Fort Lauderdale, FL">
  <option value="IAD" label="Washington, DC">
  <option value="PMI" label="Palma De Mallorca, ES">
  <option value="CPH" label="Copenhagen, DK">
  <option value="SVO" label="Moscow, RU">
  <option value="BWI" label="Baltimore Md, US">
  <option value="KMG" label="Kunming, CN">
  <option value="VIE" label="Vienna, AT">
  <option value="OSL" label="Oslo, NO">
  <option value="JED" label="Jeddah, SA">
  <option value="BNE" label="Brisbane, AU">
  <option value="SLC" label="Salt Lake City Ut, US">
  <option value="DUS" label="D├£Sseldorf, DE">
  <option value="BOG" label="Bogota, CO">
  <option value="MXP" label="Milan, IT">
  <option value="JNB" label="Johannesburg, ZA">
  <option value="ARN" label="Stockholm, SE">
  <option value="MAN" label="Manchester, GB">
  <option value="MDW" label="Chicago Il, US">
  <option value="DCA" label="Washington Dc, US">
  <option value="BRU" label="Brussels, BE">
  <option value="DUB" label="Dublin, IE">
  <option value="GMP" label="Seoul, KR">
  <option value="DOH" label="Doha, QA">
  <option value="STN" label="London, GB">
  <option value="HGH" label="Hangzhou, CN">
  <option value="CJU" label="Jeju, KR">
  <option value="YVR" label="Vancouver Bc, CA">
  <option value="TXL" label="Berlin, DE">
  <option value="SAN" label="San Diego Ca, US">
  <option value="TPA" label="Tampa Fl, US">
  <option value="CGH" label="S├âO Paulo, BR">
  <option value="BSB" label="Brasilia, BR">
  <option value="CTS" label="Sapporo, JP">
  <option value="XMN" label="Xiamen, CN">
  <option value="RUH" label="Riyadh, SA">
  <option value="FUK" label="Fukuoka, JP">
  <option value="GIG" label="Rio De Janeiro, BR">
  <option value="HEL" label="Helsinki, FI">
  <option value="LIS" label="Lisbon, PT">
  <option value="ATH" label="Athens, GR">
  <option value="AKL" label="Auckland, NZ">
</datalist>
</nav1>
